In [ ]:
print("name")

In [ ]:
print(name)

In [ ]:
name: str = "Irzam Tahir"
print(name)

# String Data Type in Python

In [ ]:
# boundaries
# 'string text', "string text", """string text"""
# 'string  text' TypeScript

name: str = "Irzam"
print(type(name))
print(name)

In [ ]:
# boundaries
# 'string text', "string text", """string text"""
# 'string  text' TypeScript

name: str = 'Irzam'
print(type(name))
print(name)

In [ ]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

In [ ]:
message: str = "PIAIC Student Card\nFather's Name"
print(message)

In [ ]:
message: str = 'PIAIC "Student Card"\n"Father Name"'
print(message)

In [ ]:
# convert any special character into simple character, place \ before character

message: str = 'PIAIC Student Card\nFather\'s Name'
print(message)

In [ ]:
"a" + "b" +"c"

In [ ]:
"a" + 7

In [ ]:
# Convert the integer into a string

"a" + str(7)

In [ ]:
# boundaries
# 'string text', "string text", """string text"""
# 'string  text' TypeScript

name: str = 'Irzam'
fname: str = "Muhammad Tahir Shakoor"
education: str = "Mechatronics & Control Engineering"
age: int = 30

card: str = "PIAIC Student Card\nStudent Name: " + name + "\nAge: " + age

print(card)

In [ ]:
# boundaries
# 'string text', "string text", """string text"""
# 'string  text' TypeScript

name: str = 'Irzam'
fname: str = "Muhammad Tahir Shakoor"
education: str = "Mechatronics & Control Engineering"
age: int = 30

card: str = "PIAIC Student Card" +\
    "\nStudent Name: " + name +\
    "\nAge: " + str(age) +\
    "\nEducation: " + education

print(card)

In [2]:
7 + 8 + 2

17

# "\\" Line Continue

In [1]:
7 + \
8 + \
2

17

# Define Multiline String """ """, ''' '''

In [3]:
name: str = 'Irzam'
fname: str = "Muhammad Tahir Shakoor"
education: str = "Mechatronics & Control Engineering"
age: int = 30

card: str = '''PIAIC Student Card
Student Name:
Age:
Education
'''

print(card)

PIAIC Student Card
Student Name:
Age:
Education

# F-string in Python

In [4]:
name: str = 'Irzam'
fname: str = "Muhammad Tahir Shakoor"
education: str = "Mechatronics & Control Engineering"
age: int = 30

card: str = f'''
PIAIC Student Card
Student Name: {name}
Age: {age}
Education: {education}
Total {2 + 8 + 9 + 3}
'''

print(card)

PIAIC Student Card
Student Name: Irzam
Age: 30
Education: Mechatronics & Control Engineering
Total 22

# F-String & Jinja Style

In [6]:
f"""
student name {name}
"""

'\nstudent name Irzam\n'

In [7]:
# Jinja Style
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [18]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [8]:
card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Irzam
Father's Name: Muhammad Tahir Shakoor
Age: 30
Education : Mechatronics & Control Engineering

In [22]:
name: str = 'Irzam'
fname: str = "Muhammad Tahir Shakoor"
education: str = "Mechatronics & Control Engineering"
age: int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0       1       2       3
print(card)

PIAIC Student Card
Student Name : Irzam
Father's Name: Muhammad Tahir Shakoor
Age: 30
Education : Mechatronics & Control Engineering

In [10]:
name: str = 'Irzam'
fname: str = "Muhammad Tahir Shakoor"
education: str = "Mechatronics & Control Engineering"
age: int = 30

card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

PIAIC Student Card
Student Name : Irzam
Father's Name: Muhammad Tahir Shakoor
Age: 30
Education : Mechatronics & Control Engineering

In [9]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [16]:
name : str = "IrzAm TAhIr"

print(name.capitalize())
print(name.lower())

Irzam tahir
irzam tahir

# Recommended below two f-string format

In [27]:
name: str = 'Irzam'
fname: str = "Muhammad Tahir Shakoor"
education: str = "Mechatronics & Control Engineering"
age: int = 30

card: str = f'''
PIAIC Student Card
Student Name: {name}
Age: {age}
Education: {education}
'''

print(card)

PIAIC Student Card
Student Name: Irzam
Age: 30
Education: Mechatronics & Control Engineering

In [11]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Qasim
15

# Explore String methods and attributes
pre-define global function we have used

* print
* type
* id
* dir
* len

In [12]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [27]:
name:str = "IrZaM TaHiR"
print(name)
# variable_name.method)()

print(name.capitalize())
print(name.casefold())
print(name.lower())
print(name.upper())
print(name.title())
print(name)

IrZaM TaHiR
Irzam tahir
irzam tahir
irzam tahir
IRZAM TAHIR
Irzam Tahir
IrZaM TaHiR

In [22]:
name:str = "    IrZaM TaHiR     "
display(name)

# variable_name.method)()

display(name.lstrip())
display(name.rstrip())
display(name.strip())

'    IrZaM TaHiR     '

'IrZaM TaHiR     '

'    IrZaM TaHiR'

'IrZaM TaHiR'

In [25]:
import re

name: str = "       IrZaM       TaHiR       "
display(name)

name1 :str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'       IrZaM       TaHiR       '

'IrZaM TaHiR'

In [ ]:
\n
\t
\b

In [28]:
print("Name:\t\t Irzam Tahir")

Name:		 Irzam Tahir

In [29]:
print("Name:\nIrzam Tahir")

Name:
Irzam Tahir

In [30]:
print("Name:\bIrzam Tahir") #Backspace

NameIrzam Tahir

In [31]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [32]:
1name : str = "Qasim"
print(1name)

SyntaxError: invalid decimal literal (2214117265.py, line 1)

In [33]:
_1name : str = "Qasim"
print(_1name)

Qasim

In [34]:
piaic student name : str = "Muhammad Qasim"
print(piaic student name)

SyntaxError: invalid syntax (379964243.py, line 1)

In [35]:
piaic_student_name : str = "Muhammad Qasim"
print(piaic_student_name)

Muhammad Qasim