# List
* iteration operation with loop
* apply any operation on element

In [1]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']
print(names)

['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']

### iteration on a List using For Loop in Python

In [2]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']

for name in names:
    print(name)

# Sir Zia
# Muhammad Qasim
# Dr. Nauman

Sir Zia
Muhammad Qasim
Dr. Nauman

### for Loop iteation on an Array in TypeScript
```
let names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for(let i=0; i < names.length; i++)
    console.log(names[i]);
```

### While Loop iteation on a loop in TypeScript
```
let names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

let i = 0 // counter = 0

while (i < names.length){ // names length = 3
    console.log(names[i]);
    i++;
}
```

In [13]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']

for name in names:
    print(name)

Sir Zia
Muhammad Qasim
Dr. Nauman

In [14]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']

for name in names:
    print(f'Welcome Dear Teacher {name.title()}')

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Muhammad Qasim
Welcome Dear Teacher Dr. Nauman

In [17]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']

for name in names:
    print(f'Welcome Dear Teacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan")

Welcome Dear Teacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Teacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Teacher Dr. Nauman
PIAIC Gen AI Team

Pakistan

In [18]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']

for name in names[:2]:
    print(f'Welcome Dear Teacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan")

Welcome Dear Teacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Teacher Muhammad Qasim
PIAIC Gen AI Team

Pakistan

In [19]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']

for name in names[-2:]:
    print(f'Welcome Dear Teacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan")

Welcome Dear Teacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Teacher Dr. Nauman
PIAIC Gen AI Team

Pakistan

In [31]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']

for name in names[::-1]:
    print(f'Welcome Dear Teacher {name.upper()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan")

Welcome Dear Teacher DR. NAUMAN
PIAIC Gen AI Team

Welcome Dear Teacher MUHAMMAD QASIM
PIAIC Gen AI Team

Welcome Dear Teacher SIR ZIA
PIAIC Gen AI Team

Pakistan

### iteration on a Tuple

In [21]:
data_base: list[tuple[str, str]] = [("qasim", '123'),
                          ("Sir Zia", '345'),
                          ("ikhlas", '789')
                          ]

for row in data_base:
    print(row)

('qasim', '123')
('Sir Zia', '345')
('ikhlas', '789')

In [24]:
data_base: list[tuple[str, str]] = [("qasim", '123'),
                          ("Sir Zia", '345'),
                          ("ikhlas", '789')
                          ]

for row in data_base:
    user, password = row
    print(user, password)

qasim 123
Sir Zia 345
ikhlas 789

### input from user

In [ ]:
input_user: str = input("Enter user name")
print(input_user)

In [30]:
data_base: list[tuple[str, str]] = [("qasim", '123'),
                          ("Sir Zia", '345'),
                          ("ikhlas", '789')
                          ]
input_user: str = input("Enter user name")
input_password: str = input("Enter Password")

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Not found or Invalid User name")

Valid User

In [32]:
names: list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Nauman']

for name in names:
    print(name)
else:
    print("Hello World")

Sir Zia
Muhammad Qasim
Dr. Nauman
Hello World

In [33]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
else:
    print("Hello world")

Sir Zia

In [34]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
print("Hello world")

Sir Zia
Muhammad Qasim
DR Noman
Hello world

In [35]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
    
print("Hello world")

Sir Zia
Hello world

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
print(name)

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names
    print(name)

In [1]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    

print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [ ]:
message = "Hello Python world!" 
    print(message)

In [3]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
print("Thank you everyone, that was a great magic show!")# last message for everyone

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [9]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [10]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

# Numbers with Loop
* `range (start, end, step)`

In [4]:
range (10)

range(0, 10)

In [5]:
list(range(10)) # starting = 0, ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(2,10))# starting=0, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(2,21,2))# starting=0, ending = n-1 21-1=20, step

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
for n in range (2, 21, 2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [2]:
for n in range (1, 11):
    print(f'2 x {n} = {n*2}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [4]:
squares:list[int] = []
for value in range(1, 11):
    squares.append(value ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive
```
List comprehensive
for item in items_list:
    loop_body
```
### Comprehensive Style
```
[loop_body for item in items_list]
```

In [5]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [8]:
'line1'
'line2'
'line3' # always return last line

'line3'

In [9]:
print('line1')
print('line2')
print('line3')

line1
line2
line3

In [7]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
digits: list[int] = [1,2,3,4,5,6,7,8,9,0]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [13]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['tikka', 'falafel', 'carrot cake']