# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [ ]:
%pip install lxml

# 1. Python Arithmetic Operators

In [1]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
a: int = 7
b: int = 2

print(a + b) # Addition
print(a + b) # Subtraction
print(a * b) # Multiplication
print(a / b) # Division

9
9
14
3.5

In [9]:
a : int = 11
b : int = 3

print(a % b)

2

In [4]:
print(2**2)
print(2**3)

4
8

In [10]:
print(14 / 3)

4.666666666666667

In [6]:
print(14.8 / 3)

4.933333333333334

In [7]:
print( 14.8 // 3)

4.0

In [8]:
print( 14 // 3)

4

# 2. Python Assignment Operators

In [11]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [12]:
# = assign

a: int = 7
b: int = 2

In [13]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [14]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [15]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# 3. Python Comparison Operators

In [16]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [17]:
a : int = 7
b : int = 10

print( a == b )
# a == b
# 7 == 10
# False

False

In [18]:
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

True

In [19]:
a : int = 7
b : str = '7'

print(a == b)
# a == b
# 7 == 7
# True

False

In [20]:
# !=
a : int = 7
b : int = 7

print( a != b )
# a == b
# 7 == 7
# False

False

In [21]:
# !=
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

False

In [22]:
# !=
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [23]:
# !=
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# False

True

In [24]:
# !=
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [25]:
# !=
a : int = 2
b : int = 7

print(a >= b)

False

In [26]:
# !=
a : int = 7
b : int = 7

print(a >= b)

True

In [27]:
# !=
a : int = 7
b : int = 7

print(a <= b)

True

In [28]:
# !=
a : int = 7
b : int = 7

print(a => b)

SyntaxError: invalid syntax (2966280906.py, line 5)

ASCII Code
```
A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57
```

In [43]:
ord('A')

65

In [42]:
chr(65)

'A'

In [29]:
a : str = 'A'
b : str = 'B'

print(b >= a)

True

In [44]:
a : str = 'A'
b : str = 'a' 

print(b >= a)

True

# 4. Python Logical Operators

In [45]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [46]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [47]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [48]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

In [49]:
not True

False

In [50]:
name : str = "Qasim"
print(not name=="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"
# True

False

In [51]:
name : str = "Qasim"
print(name!="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"

False