# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [ ]:
%pip install lxml

# Python Arithmetic Operators

In [1]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
a: int = 7
b: int = 2

print(a + b) # Addition
print(a + b) # Subtraction
print(a * b) # Multiplication
print(a / b) # Division

9
9
14
3.5

In [9]:
a : int = 11
b : int = 3

print(a % b)

2

In [4]:
print(2**2)
print(2**3)

4
8

In [10]:
print(14 / 3)

4.666666666666667

In [6]:
print(14.8 / 3)

4.933333333333334

In [7]:
print( 14.8 // 3)

4.0

In [8]:
print( 14 // 3)

4

# Python Assignment Operators

In [11]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [12]:
# = assign

a: int = 7
b: int = 2

In [13]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [14]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [15]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators